@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-display: swap;
}

.body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}

.page-header {
    display: flex;
    width: 1200px;
}

.logo-link {
    margin-left: 70px;
}

.logo {}

.navigation {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    display: flex;
}

.menu-list {
    margin: 0;
    padding-top: 20px;
    padding-left: 32px;
    list-style: none;
    width: 339px;
    display: flex;
}

.menu-item {
    width: 450px;
}

.menu-link {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.user-name-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    display: flex;
}

.user-menu-item {
    padding-top: 20px;
}

.user-menu-search {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    text-decoration: none;

}

.user-menu-favorit {
    text-decoration: none;
    color: #000000;

}

.user-menu-want {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    gap: 10px;
    background-color: #756157;
    display: inline-block;
    border-radius: 4px;

}



.page-main {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    background-color: #ffffff;

}

.welcome-quote {
    background-color: #79b3d9;
    background-image: url("../images/triangle.svg"), url("../images/index-background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: left 0 bottom 0, center top;
    padding-top: 51px;
    padding-bottom: 82px;
    background-size: 100% 57px, cover;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.quote {
    width: 458px;
    height: 352px;
    display: block;
    margin: 0 auto;
}

.reasons {}

.reason-slogan {
    margin: 0;
    padding-top: 69px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.reason-describe {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 41px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.reason-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

}

.reason-item {
    background: #82B3D3;
    width: 400px;
}

.reason-title {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.describe {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;

}

.desc {
    width: 800px;
    height: 385px;
}

.service {
    padding-bottom: 64px;
}

.service-slogan {
    margin: 0;
    padding-top: 64px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.service-desc {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.advantages {
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
}

.advantages-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1200px;
    height: 385px;
}

.advantages-item {
    margin: 0;
    padding: 0;
    width: 400px;
}

.advantages-title {
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-top: 184px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-desc {
    margin: 0;
    padding-top: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.search {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;

}

.search-slogans {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
}

.search-desc {
    margin: 0 auto;
    padding: 0 0 54px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    max-width: 600px;
}

.button-search {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 4px;
    background: #756157;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 48px 8px;
    max-width: 600px;
    box-sizing: border-box;
}

.page-footer {}

.subscribe {
    background-image:
        url("../images/subs—Åribe.jpg");
    margin: 0;
    padding-bottom: 104px;
    height: 311px;
}

.subscribe-title {
    margin: 0;
    padding-top: 96px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subscribe-desc {
    margin: 0;
    padding-top: 21px;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.subscribe-form {
    text-align: center;
    margin-top: 53px;
    padding-bottom: 11px;
}

.email {}

.button-subscribe {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    background: #82B3D3;
}

.social {}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-item {}

.social-link-vk {
    background-image: url("../images/vk.svg");
    width: 47.33px;
    height: 40px;
}

.social-link-telegramm {
    background-image: url("../images/telegramm.svg");
    width: 47.33px;
    height: 40px;
}

.social-link-youtube {
    background-image: url("../images/youtube.svg");
    width: 47.33px;
    height: 40px;
}

.phone {
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}

.button {
    text-decoration: none;
}

.text {}

.navigation-logo {}

.logo-html {}
